.sentence {
  font-size: medium;
  padding: 5px 10px 5px 5px;
  box-sizing: border-box;
  //border: 1px solid rgba(0,0,0,0.2);
  //border-left: 2px solid #8e354a;
  // width: 76vw;
  // margin: 10px 10px 10px 10px;
  //border-radius: 5px;
  //box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}


.dialog_input {
  font-size: small;
  width: 500px;
  outline-style: none;
  border: 0;
  border-bottom: 2px solid #8e354a;
}

.singleOption {
  line-height: normal;
  padding: 3px 0 3px 0;
  margin: 3px 0 3px 0;
  display: flex;
  font-size: small;
}

.optionTitle {
  color: #8e354a;
  font-weight: bold;
  margin: 0 5px 0 0;
  border-bottom: 2px solid #8e354a;
  padding: 3px 5px 3px 5px;
}

.optionContent {
  padding: 3px 5px 3px 5px;
}

.isolate {
  padding: 0 0 0 5px;
  margin: 0 5px 0 0;
}

.sentenceButtonList {
  display: flex;
}

.sentenceButton {
  font-size: small;
  padding: 3px 5px 3px 5px;
  //border: 1px solid rgba(0,0,0,0.2);
  //border-radius: 5px;
  color: black;
  margin: 0 3px 0 0;
  font-weight: normal;
  cursor: pointer;
  position: relative;
}

.sentenceButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

$blockBorder: 1px solid rgba(0, 0, 0, 0.1);
$blockShadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
$blockBgColor: rgba(254, 223, 225, 0.1);

.sentenceIndexShow {
  display: flex;
  color: #8e354a;
  //font-size: small;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 0;
  border-radius: 7px;
  border: $blockBorder;
  box-shadow: $blockShadow;
  background-color: $blockBgColor;
}

.barContainer {
  padding: 5px 10px 5px 10px;
  margin: 0 5px 0 0;
  border-radius: 7px;
  border: $blockBorder;
  box-shadow: $blockShadow;
  background-color: $blockBgColor;
}

.mainEdit {
  margin: 3px 0 0 5px;
  border-radius: 7px;
  padding: 2px 10px 5px 10px;
  border: $blockBorder;
  box-shadow: $blockShadow;
  background-color: $blockBgColor;
}

.topContainer {
  display: flex;
  padding: 3px 5px 3px 5px;
  //border: 1px solid rgba(0,0,0,0.15);
  //box-shadow: 1px 1px 5px rgba(0,0,0,0.15) ;
}

